*{
    margin: 0;
    padding: 0;
}



.presentation{
    background-image: url("/images/impressionnisme-soleil-levant-monet-the-art-cycle-1148x708.jpg");
background-size: cover;
}
.navigation{
    background-color: #efd858;
width: fit-content ;
display: flex;
align-items: center;
gap: 25px;
padding:0 25px;
margin-top: 15px;
}
.logo{
    height: 68px;
}
.liens{
    color: black;
    font-size: 30px;
    text-decoration: none;


}
.nav-container{
    width: 100%;
    display: flex;
    justify-content: center;

}
.info-galerie{
    display: flex;
margin-top: 170px;
}
.info-galerie-left{
    width: 50%;
    text-align: center;
}
.info-galerie-right{
    width: 50%;
    text-align: center;
}
.presentation-galerie{
    display: flex;
    margin-top: 50px;


}
.photo-galerie{
width: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.texte-galerie{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-galerie {
    width: 60%;
    
}
.oeuvres-page{
    
}
.oeuvres-titre{
    background-color: #efd858;
    margin: 25px 50px;
    text-align: center;
    font-weight: 400;
}

.vignette{
    
    height: 300px;
    width: 250px;
    display: flex;
    align-items: end;

}
.photos-oeuvres{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 45px;
}
.elisabeth-bergner{
    background-image: url("images/Elisabeth\ Bergner\ Portrait\ Emil\ Orlik.png");
    background-size: cover;
    background-position: center;

}
.jozef-rippl-ronai{
    background-image: url("images/La\ femme\ au\ voile\ noire\ Jozsef\ Rippl\ Ronai.png");
    background-size: cover;
    background-position: center;

}
.knud-erik{
    background-image: url("images/La\ femme\ cousant\ a\ la\ fenetre\ Knud\ Erik\ .png");
    background-size: cover;
    background-position: center;

}
.nom-peintre{
    background-color: #efd858;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}
.presentation-dechewsky-photo{
    display: flex;
    padding: 50px;
    
}
.photo-dechewsky{
    width: 50%;
    display: flex;
    justify-content: center;

}
.presentation-dechewsky{
    width: 50%;
    display: flex;
    align-items: center;
}
.photo-portrait-md{
    width: 50%;
    
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}
.mail{
width: 600px;
height: 40px;
text-align: center;
background-color: rgb(204, 204, 204);
border: none;
}
.inscription{
width: 600px;
height: 40px;
background-color: #efd858;
font-size: 25px;
border: none;
}
.infos-contact{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px;
}